* {
    box-sizing: border-box;
     
    color: #122d46;     
    text-align:center; 
  }

  /* Style the search field */
  form.example input[type=text] {
    margin:auto;max-width:300px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .example{
    
  margin:auto;
  max-width:300px;
  margin-top:70px;
}
.navbar-brand img{
    width: 100px;
}
.single-item-image{
    width: 100%;
    padding: 15px;
    border-radius: 30px;
}
.items-image img{
    transition: all.2s;
}
.items-image:hover img{
    -webkit-filter: brightness(70%); 
    filter: brightness(70%);
}
#submitButton{
  color: white  !important;
}